<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <%= image_tag board.board_image_url, class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">
            <%= link_to board.title, board_path(board) %>
          </a>
        </h4>

        <ul class='crud-menu-btn list-inline float-right'>
        <li class="list-inline-item">
          <%= link_to '#', id: "button-edit-#{board.id}" do %>
            <%= icon 'fa', 'pen' %>
          <% end %>
        </li>
        <li class="list-inline-item">
        <%= link_to '#', id: "button-delete-#{board.id}" do %>
        <%= icon 'fas', 'trash' %>
        <% end %>
        </li>
        </ul>


        <div class='mr10 float-right'>
          <a href="#"><%= icon 'fas', 'trash', class: 'pr-1' %></a>
          <a href="#"><%= icon 'fa', 'pen' %></a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= board.user.decorate.full_name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>

          </li>
        </ul>
        <p class="card-text"><%= board.body %></p>
      </div>
    </div>
  </div>
</div>
