<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <%= image_tag board.board_image_url, class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">
            <%= link_to board.title, board_path(board) %>
          </a>
        </h4>

        <% if current_user.own?(board) %>
          <%= render 'crud_menus', board: board %>
        <% else %>
          <%= render 'bookmark_button', board: board  %>
        <% end %>

      <% if current_user.id == board.user_id %>
        <ul class='crud-menu-btn list-inline float-right'>
        <li class="list-inline-item">
          <%= link_to edit_board_path(board), id: "button-edit-#{board.id}" do %>
            <%= icon 'fa', 'pen' %>
          <% end %>
        </li>
        <li class="list-inline-item">
        <%= link_to board_path(board), method: :delete, "data-confirm"=>"本当に消しますか？", id: "button-delete-#{board.id}" do %>
          <%= icon 'fas', 'trash' %>
        <% end %>
        </li>
        </ul>
      <% end %>

        <% if current_user.already_bookmarked?(board) %>
          <%= link_to 'いいねを外す', bookmark_path(board), method: :delete %>
        <% else %>
          <%= link_to 'いいねをする', bookmarks_path(board), method: :post %>
        <% end %>
          <%= board.bookmarks.count %>




        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= board.user.decorate.full_name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>

          </li>
        </ul>
        <p class="card-text"><%= board.body %></p>
      </div>
    </div>
  </div>
</div>
